@mixin drop-shadow(
  $horizontal-length,
  $vertical-length,
  $blur-radius,
  $spread-radius,
  $shadow-color
) {
  -webkit-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  -moz-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
}